
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  background-image: url("./images/blurred-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App-header {
  height: 90vh;
  align-items: left;

  margin-top: 30vmin;
  padding-left: calc(5vmin);
  padding-right: calc(5vmin);
  
  font-size: calc(10px + 20vmin);
}

.App-subsection {
  margin: 64px 10vw 0vw 10vw;
}

.App-subsectionHeader {
  font-size: 52px;
  font-weight: lighter;
}

.App-infoBlock {
  background-color: rgba(255,255,255,0.10);
  box-shadow: 2px 2px 14px 1px rgba(255,255,255,0.15);
  border-radius: 12px;

  margin: 24px 0px;
  max-width: 800px;
  padding: 14px 24px;
}
.App-blockHeader {
  margin: 12px 0px;
  font-size: 32px;
  font-weight: bold;
}
.App-blockHeaderLink {
  color: white;
  text-decoration: none;
  margin: 12px 0px;
  font-size: 32px;
  font-weight: bold;
}
.App-blockSubheader {
  margin: 12px 0px;
  font-size: 20px;
  font-weight: bold;
}
.App-blockSkills {
  font-style: italic;
}

.App-footer {
  height: 300px;
}
